---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/lightning-bolt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1698873614'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f4-rbLHHtKhNsK/T61MOddU8K+DQXc"
    body:
      encoding: UTF-8
      string: '{"index":"lightning-bolt","name":"Lightning Bolt","desc":["A stroke
        of lightning forming a line 100 feet long and 5 feet wide blasts out from
        you in a direction you choose. Each creature in the line must make a dexterity
        saving throw. A creature takes 8d6 lightning damage on a failed save, or half
        as much damage on a successful one.","The lightning ignites flammable objects
        in the area that aren''t being worn or carried."],"higher_level":["When you
        cast this spell using a spell slot of 4th level or higher, the damage increases
        by 1d6 for each slot level above 3rd."],"range":"Self","components":["V","S","M"],"material":"A
        bit of fur and a rod of amber, crystal, or glass.","ritual":false,"duration":"Instantaneous","concentration":false,"casting_time":"1
        action","level":3,"damage":{"damage_type":{"index":"lightning","name":"Lightning","url":"/api/damage-types/lightning"},"damage_at_slot_level":{"3":"8d6","4":"9d6","5":"10d6","6":"11d6","7":"12d6","8":"13d6","9":"14d6"}},"dc":{"dc_type":{"index":"dex","name":"DEX","url":"/api/ability-scores/dex"},"dc_success":"half"},"area_of_effect":{"type":"line","size":100},"school":{"index":"evocation","name":"Evocation","url":"/api/magic-schools/evocation"},"classes":[{"index":"sorcerer","name":"Sorcerer","url":"/api/classes/sorcerer"},{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"}],"subclasses":[{"index":"lore","name":"Lore","url":"/api/subclasses/lore"},{"index":"land","name":"Land","url":"/api/subclasses/land"}],"url":"/api/spells/lightning-bolt"}'
  recorded_at: Wed, 01 Nov 2023 21:20:13 GMT
recorded_with: VCR 6.2.0
