---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/barbarian/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481126'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f14-L4xeESyvE1HH5BpeTqQ1uTQXGj4"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"rage","name":"Rage","url":"/api/features/rage"},{"index":"barbarian-unarmored-defense","name":"Unarmored
        Defense","url":"/api/features/barbarian-unarmored-defense"}],"class_specific":{"rage_count":2,"rage_damage_bonus":2,"brutal_critical_dice":0},"index":"barbarian-1","class":{"index":"barbarian","name":"Barbarian","url":"/api/classes/barbarian"},"url":"/api/classes/barbarian/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"reckless-attack","name":"Reckless
        Attack","url":"/api/features/reckless-attack"},{"index":"danger-sense","name":"Danger
        Sense","url":"/api/features/danger-sense"}],"class_specific":{"rage_count":2,"rage_damage_bonus":2,"brutal_critical_dice":0},"index":"barbarian-2","class":{"index":"barbarian","[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/acid-arrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481126'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"546-wuxpQUdCv2m+bt7WFrL8Irt8fyo"
    body:
      encoding: UTF-8
      string: '{"index":"acid-arrow","name":"Acid Arrow","desc":["A shimmering green
        arrow streaks toward a target within range and bursts in a spray of acid.
        Make a ranged spell attack against the target. On a hit, the target takes
        4d4 acid damage immediately and 2d4 acid damage at the end of its next turn.
        On a miss, the arrow splashes the target with acid for half as much of the
        initial damage and no damage at the end of its next turn."],"higher_level":["When
        you cast this spell using a spell slot of 3rd level or higher, the damage
        (both initial and later) increases by 1d4 for each slot level above 2nd."],"range":"90
        feet","components":["V","S","M"],"material":"Powdered rhubarb leaf and an
        adder''s stomach.","ritual":false,"duration":"Instantaneous","concentration":false,"casting_time":"1
        action","level":2,"attack_type":"ranged","damage":{"damage_type":{"index":"acid","name":"Acid","url":"/api/damage-types/acid"},"damage_at_slot_level":{"2":"4d4","3":"5d4","4":"6d4","5":"7d4","6":"8d4","7":"9d4","8":"10d4","9":"11d4"}},"school":{"index":"evocation","name":"Evocation","url":"/api/magic-schools/evocation"},"classes":[{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"}],"subclasses":[{"index":"lore","name":"Lore","url":"/api/subclasses/lore"},{"index":"land","name":"Land","url":"/api/subclasses/land"}],"url":"/api/spells/acid-arrow"}'
  recorded_at: Wed, 08 Nov 2023 22:05:25 GMT
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/rogue/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481127'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b80-xOHyB0GIdZo+HMlUskKysxEVr/U"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"rogue-expertise-1","name":"Expertise","url":"/api/features/rogue-expertise-1"},{"index":"sneak-attack","name":"Sneak
        Attack","url":"/api/features/sneak-attack"},{"index":"thieves-cant","name":"Thieves''
        Cant","url":"/api/features/thieves-cant"}],"class_specific":{"sneak_attack":{"dice_count":1,"dice_value":6}},"index":"rogue-1","class":{"index":"rogue","name":"Rogue","url":"/api/classes/rogue"},"url":"/api/classes/rogue/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"cunning-action","name":"Cunning
        Action","url":"/api/features/cunning-action"}],"class_specific":{"sneak_attack":{"dice_count":1,"dice_value":6}},"index":"rogue-2","class":{"index":"rogue","name":"Rogue","url":"/api/classes/rogue"},"url":"/api/classes/rogue/levels/2"},{"level":3,"ability_sco[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/monk/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481129'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2113-2Cnjk5wV37Ba15SvrQ3+NpA0vAU"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"monk-unarmored-defense","name":"Unarmored
        Defense","url":"/api/features/monk-unarmored-defense"},{"index":"martial-arts","name":"Martial
        Arts","url":"/api/features/martial-arts"}],"class_specific":{"martial_arts":{"dice_count":1,"dice_value":4},"ki_points":0,"unarmored_movement":0},"index":"monk-1","class":{"index":"monk","name":"Monk","url":"/api/classes/monk"},"url":"/api/classes/monk/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"ki","name":"Ki","url":"/api/features/ki"},{"index":"flurry-of-blows","name":"Flurry
        of Blows","url":"/api/features/flurry-of-blows"},{"index":"patient-defense","name":"Patient
        Defense","url":"/api/features/patient-defense"},{"index":"step-of-the-wind","name":"Step
        of the Wind","ur[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/paladin/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481130'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2530-1tkm2VKJ+7ldX/m7yBWeWJgefzA"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"divine-sense","name":"Divine
        Sense","url":"/api/features/divine-sense"},{"index":"lay-on-hands","name":"Lay
        on Hands","url":"/api/features/lay-on-hands"}],"spellcasting":{"spell_slots_level_1":0,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0},"class_specific":{"aura_range":0},"index":"paladin-1","class":{"index":"paladin","name":"Paladin","url":"/api/classes/paladin"},"url":"/api/classes/paladin/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"paladin-fighting-style","name":"Fighting
        Style","url":"/api/features/paladin-fighting-style"},{"index":"spellcasting-paladin","name":"Spellcasting:
        Paladin","url":"/api/features/spellcasting-paladin"},{"index":"divine-smite","name":"Divine
        Smite","url":"/api/feature[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/branding-smite
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481130'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44e-BQ7CAVZykqR69GR8pDOz8N2beck"
    body:
      encoding: UTF-8[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/wizard/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9998'
      X-Ratelimit-Reset:
      - '1699481131'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b13-DQLgqlgkjbgI3M7SGqK8Ub1aB6Q"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-wizard","name":"Spellcasting:
        Wizard","url":"/api/features/spellcasting-wizard"},{"index":"arcane-recovery","name":"Arcane
        Recovery","url":"/api/features/arcane-recovery"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"arcane_recovery_levels":1},"index":"wizard-1","class":{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"},"url":"/api/classes/wizard/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"arcane-tradition","name":"Arcane
        Tradition","url":"/api/features/arcane-tradition"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":3,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/fireball
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481132'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"622-Mtc7pANQhoeHhQT4wqBsNZ8ePDc"
    body:
      encoding: UTF-8
     [...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/scorching-ray
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481132'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"432-+3rOQvbWCeQNPteFf83SHmgErkg"
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/magic-missile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481132'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ab-cOvsxkQG1XhWreCnh7NJyeBLOeE"
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481134'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65dd-hH4L8qffMbXzGKhieZCl05Za8iY"
    body:
      encoding: UTF-8
      string: '{"count":334,"results":[{"index":"aboleth","name":"Aboleth","url":"/api/monsters/aboleth"},{"index":"acolyte","name":"Acolyte","url":"/api/monsters/acolyte"},{"index":"adult-black-dragon","name":"Adult
        Black Dragon","url":"/api/monsters/adult-black-dragon"},{"index":"adult-blue-dragon","name":"Adult
        Blue Dragon","url":"/api/monsters/adult-blue-dragon"},{"index":"adult-brass-dragon","name":"Adult
        Brass Dragon","url":"/api/monsters/adult-brass-dragon"},{"index":"adult-bronze-dragon","name":"Adult[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/air-elemental
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699481134'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad2-KeeZWWOwb8FBQbw/PLo8Q8SPFgY"
    body:
      encoding: UTF-8
      string: '{"index":"air-elemental","name":"Air Elemental","size":"Large","type":"elemental","alignment":"neutral","armor_class":[{"type":"dex","value":15}],"hit_points":90,"hit_dice":"12d10","hit_points_roll":"12d10+24","speed":{"fly":"90
        ft.","hover":true},"strength":14,"dexterity":20,"constitution":14,"intelligence":6,"wisdom":10,"charisma":6,"proficiencies":[],"damage_vulnerabilities":[],"damage_resistances":["lightning","thunder","bludgeoning,
        piercing, and slashing from nonmagical weapons"],"damage_immunities":["poison"],"condition_immunities":[{"index":"exhaustion","name":"Exhaustion","url":"/api/conditions/exhaustion"},{"index":"grappled","name":"Grappled","url":"/api/conditions/grappled"},{"index":"paralyzed","name":"Paralyzed","url":"/api/conditions/paralyzed"},{"index":"petrified","name":"Petrified","url":"/api/conditions/petrified"},{"index":"poisoned","name":"Poisoned","url":"/api/conditions/poisoned"},{"index":"prone","name":"Prone","url":"/api/conditions/prone"},{"index":"restrained","name":"Restrained","url":"/api/conditions/restrained"},{"index":"unconscious","name":"Unconscious","url":"/api/conditions/unconscious"}],"senses":{"darkvision":"60
        ft.","passive_perception":10},"languages":"Auran","challenge_rating":5,"proficiency_bonus":3,"xp":1800,"special_abilities":[{"name":"Air
        Form","desc":"The elemental can enter a hostile creature''s space and stop
        there. It can move through a space as narrow as 1 inch wide without squeezing."}],"actions":[{"name":"Multiattack","multiattack_type":"actions","desc":"The
        elemental makes two slam attacks.","actions":[{"action_name":"Slam","count":2,"type":"melee"}]},{"name":"Slam","desc":"Melee
        Weapon Attack: +8 to hit, reach 5 ft., one target. Hit: 14 (2d8 + 5) bludgeoning
        damage.","attack_bonus":8,"damage":[{"damage_type":{"index":"bludgeoning","name":"Bludgeoning","url":"/api/damage-types/bludgeoning"},"damage_dice":"2d8+5"}],"actions":[]},{"name":"Whirlwind","desc":"Each
        creature in the elemental''s space must make a DC 13 Strength saving throw.
        On a failure, a target takes 15 (3d8 + 2) bludgeoning damage and is flung
        up 20 feet away from the elemental in a random direction and knocked prone.
        If a thrown target strikes an object, such as a wall or floor, the target
        takes 3 (1d6) bludgeoning damage for every 10 feet it was thrown. If the target
        is thrown at another creature, that creature must succeed on a DC 13 Dexterity
        saving throw or take the same damage and be knocked prone.\nIf the saving
        throw is successful, the target takes half the bludgeoning damage and isn''t
        flung away or knocked prone.","usage":{"type":"recharge on roll","dice":"1d6","min_value":4},"actions":[]}],"image":"/api/images/monsters/air-elemental.png","url":"/api/monsters/air-elemental","legendary_actions":[]}'
  recorded_at: Wed, 08 Nov 2023 22:05:33 GMT
recorded_with: VCR 6.2.0
