---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/barbarian/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161788'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f14-L4xeESyvE1HH5BpeTqQ1uTQXGj4"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"rage","name":"Rage","url":"/api/features/rage"},{"index":"barbarian-unarmored-defense","name":"Unarmored
        Defense","url":"/api/features/barbarian-unarmored-defense"}],"class_specific":{"rage_count":2,"rage_damage_bonus":2,"brutal_critical_dice":0},"index":"barbarian-1","class":{"index":"barbarian","name":"Barbarian","url":"/api/classes/barbarian"},"url":"/api/classes/barbarian/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"reckless-attack","name":"Reckless
        Attack","url":"/api/features/reckless-attack"},{"index":"danger-sense","name":"Danger
        Sense","url":"/api/features/danger-sense"}],"class_specific":{"rage_count":2,"rage_damage_bonus":2,"brutal_critical_dice":0},"index":"barbarian-2","class":{"index":"barbarian","[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/acid-arrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161788'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"546-wuxpQUdCv2m+bt7WFrL8Irt8fyo"
    body:
      encoding: UTF-8
      string: '{"index":"acid-arrow","name":"Acid Arrow","desc":["A shimmering green
        arrow streaks toward a target within range and bursts in a spray of acid.
        Make a ranged spell attack against the target. On a hit, the target takes
        4d4 acid damage immediately and 2d4 acid damage at the end of its next turn.
        On a miss, the arrow splashes the target with acid for half as much of the
        initial damage and no damage at the end of its next turn."],"higher_level":["When
        you cast this spell using a spell slot of 3rd level or higher, the damage
        (both initial and later) increases by 1d4 for each slot level above 2nd."],"range":"90
        feet","components":["V","S","M"],"material":"Powdered rhubarb leaf and an
        adder''s stomach.","ritual":false,"duration":"Instantaneous","concentration":false,"casting_time":"1
        action","level":2,"attack_type":"ranged","damage":{"damage_type":{"index":"acid","name":"Acid","url":"/api/damage-types/acid"},"damage_at_slot_level":{"2":"4d4","3":"5d4","4":"6d4","5":"7d4","6":"8d4","7":"9d4","8":"10d4","9":"11d4"}},"school":{"index":"evocation","name":"Evocation","url":"/api/magic-schools/evocation"},"classes":[{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"}],"subclasses":[{"index":"lore","name":"Lore","url":"/api/subclasses/lore"},{"index":"land","name":"Land","url":"/api/subclasses/land"}],"url":"/api/spells/acid-arrow"}'
  recorded_at: Sun, 05 Nov 2023 05:23:07 GMT
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/rogue/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161789'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b80-xOHyB0GIdZo+HMlUskKysxEVr/U"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"rogue-expertise-1","name":"Expertise","url":"/api/features/rogue-expertise-1"},{"index":"sneak-attack","name":"Sneak
        Attack","url":"/api/features/sneak-attack"},{"index":"thieves-cant","name":"Thieves''
        Cant","url":"/api/features/thieves-cant"}],"class_specific":{"sneak_attack":{"dice_count":1,"dice_value":6}},"index":"rogue-1","class":{"index":"rogue","name":"Rogue","url":"/api/classes/rogue"},"url":"/api/classes/rogue/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"cunning-action","name":"Cunning
        Action","url":"/api/features/cunning-action"}],"class_specific":{"sneak_attack":{"dice_count":1,"dice_value":6}},"index":"rogue-2","class":{"index":"rogue","name":"Rogue","url":"/api/classes/rogue"},"url":"/api/classes/rogue/levels/2"},{"level":3,"ability_sco[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/monk/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161791'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2113-2Cnjk5wV37Ba15SvrQ3+NpA0vAU"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"monk-unarmored-defense","name":"Unarmored
        Defense","url":"/api/features/monk-unarmored-defense"},{"index":"martial-arts","name":"Martial
        Arts","url":"/api/features/martial-arts"}],"class_specific":{"martial_arts":{"dice_count":1,"dice_value":4},"ki_points":0,"unarmored_movement":0},"index":"monk-1","class":{"index":"monk","name":"Monk","url":"/api/classes/monk"},"url":"/api/classes/monk/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"ki","name":"Ki","url":"/api/features/ki"},{"index":"flurry-of-blows","name":"Flurry
        of Blows","url":"/api/features/flurry-of-blows"},{"index":"patient-defense","name":"Patient
        Defense","url":"/api/features/patient-defense"},{"index":"step-of-the-wind","name":"Step
        of the Wind","ur[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/paladin/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161792'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2530-1tkm2VKJ+7ldX/m7yBWeWJgefzA"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"divine-sense","name":"Divine
        Sense","url":"/api/features/divine-sense"},{"index":"lay-on-hands","name":"Lay
        on Hands","url":"/api/features/lay-on-hands"}],"spellcasting":{"spell_slots_level_1":0,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0},"class_specific":{"aura_range":0},"index":"paladin-1","class":{"index":"paladin","name":"Paladin","url":"/api/classes/paladin"},"url":"/api/classes/paladin/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"paladin-fighting-style","name":"Fighting
        Style","url":"/api/features/paladin-fighting-style"},{"index":"spellcasting-paladin","name":"Spellcasting:
        Paladin","url":"/api/features/spellcasting-paladin"},{"index":"divine-smite","name":"Divine
        Smite","url":"/api/feature[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/branding-smite
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161792'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44e-BQ7CAVZykqR69GR8pDOz8N2beck"
    body:
      encoding: UTF-8[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/wizard/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161793'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b13-DQLgqlgkjbgI3M7SGqK8Ub1aB6Q"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-wizard","name":"Spellcasting:
        Wizard","url":"/api/features/spellcasting-wizard"},{"index":"arcane-recovery","name":"Arcane
        Recovery","url":"/api/features/arcane-recovery"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"arcane_recovery_levels":1},"index":"wizard-1","class":{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"},"url":"/api/classes/wizard/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"arcane-tradition","name":"Arcane
        Tradition","url":"/api/features/arcane-tradition"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":3,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/fireball
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161794'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"622-Mtc7pANQhoeHhQT4wqBsNZ8ePDc"
    body:
      encoding: UTF-8
     [...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/scorching-ray
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161794'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"432-+3rOQvbWCeQNPteFf83SHmgErkg"
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/magic-missile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161794'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ab-cOvsxkQG1XhWreCnh7NJyeBLOeE"
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/adult-black-dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699161795'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1339-/vBK8nfTUDekZyRRUxf77yQsKOY"
    body:
      encoding: UTF-8
      string: '{"index":"adult-black-dragon","name":"Adult Black Dragon","size":"Huge","type":"dragon","alignment":"chaotic
        evil","armor_class":[{"type":"natural","value":19}],"hit_points":195,"hit_dice":"17d12","hit_points_roll":"17d12+85","speed":{"walk":"40
        ft.","fly":"80 ft.","swim":"40 ft."},"strength":23,"dexterity":14,"constitution":21,"intelligence":14,"wisdom":13,"charisma":17,"proficiencies":[{"value":7,"proficiency":{"index":"saving-throw-dex","name":"Saving
        Throw: DEX","url":"/api/proficiencies/saving-throw-dex"}},{"value":10,"proficiency":{"index":"saving-throw-con","name":"Saving
        Throw: CON","url":"/api/proficiencies/saving-throw-con"}},{"value":6,"proficiency":{"index":"saving-throw-wis","name":"Saving
        Throw: WIS","url":"/api/proficiencies/saving-throw-wis"}},{"value":8,"proficiency":{"index":"saving-throw-cha","name":"Saving
        Throw: CHA","url":"/api/proficiencies/saving-throw-cha"}},{"value":11,"proficiency":{"index":"skill-perception","name":"Skill:
        Perception","url":"/api/proficiencies/skill-perception"}},{"value":7,"proficiency":{"index":"skill-stealth","name":"Skill:
        Stealth","url":"/api/proficiencies/skill-stealth"}}],"damage_vulnerabilities":[],"damage_resistances":[],"damage_immunities":["acid"],"condition_immunities":[],"senses":{"blindsight":"60
        ft.","darkvision":"120 ft.","passive_perception":21},"languages":"Common,
        Draconic","challenge_rating":14,"proficiency_bonus":5,"xp":11500,"special_abilities":[{"name":"Amphibious","desc":"The
        dragon can breathe air and water."},{"name":"Legendary Resistance","desc":"If
        the dragon fails a saving throw, it can choose to succeed instead.","usage":{"type":"per
        day","times":3,"rest_types":[]}}],"actions":[{"name":"Multiattack","multiattack_type":"actions","desc":"The
        dragon can use its Frightful Presence. It then makes three attacks: one with
        its bite and two with its claws.","actions":[{"action_name":"Frightful Presence","count":1,"type":"ability"},{"action_name":"Bite","count":1,"type":"melee"},{"action_name":"Claw","count":2,"type":"melee"}]},{"name":"Bite","desc":"Melee
        Weapon Attack: +11 to hit, reach 10 ft., one target. Hit: 17 (2d10 + 6) piercing
        damage plus 4 (1d8) acid damage.","attack_bonus":11,"damage":[{"damage_type":{"index":"piercing","name":"Piercing","url":"/api/damage-types/piercing"},"damage_dice":"2d10+6"},{"damage_type":{"index":"acid","name":"Acid","url":"/api/damage-types/acid"},"damage_dice":"1d8"}],"actions":[]},{"name":"Claw","desc":"Melee
        Weapon Attack: +11 to hit, reach 5 ft., one target. Hit: 13 (2d6 + 6) slashing
        damage.","attack_bonus":11,"damage":[{"damage_type":{"index":"slashing","name":"Slashing","url":"/api/damage-types/slashing"},"damage_dice":"2d6+6"}],"actions":[]},{"name":"Tail","desc":"Melee
        Weapon Attack: +11 to hit, reach 15 ft., one target. Hit: 15 (2d8 + 6) bludgeoning
        damage.","attack_bonus":11,"damage":[{"damage_type":{"index":"bludgeoning","name":"Bludgeoning","url":"/api/damage-types/bludgeoning"},"damage_dice":"2d8+6"}],"actions":[]},{"name":"Frightful
        Presence","desc":"Each creature of the dragon''s choice that is within 120
        feet of the dragon and aware of it must succeed on a DC 16 Wisdom saving throw
        or become frightened for 1 minute. A creature can repeat the saving throw
        at the end of each of its turns, ending the effect on itself on a success.
        If a creature''s saving throw is successful or the effect ends for it, the
        creature is immune to the dragon''s Frightful Presence for the next 24 hours.","dc":{"dc_type":{"index":"wis","name":"WIS","url":"/api/ability-scores/wis"},"dc_value":16,"success_type":"none"},"actions":[]},{"name":"Acid
        Breath","desc":"The dragon exhales acid in a 60-foot line that is 5 feet wide.
        Each creature in that line must make a DC 18 Dexterity saving throw, taking
        54 (12d8) acid damage on a failed save, or half as much damage on a successful
        one.","usage":{"type":"recharge on roll","dice":"1d6","min_value":5},"dc":{"dc_type":{"index":"dex","name":"DEX","url":"/api/ability-scores/dex"},"dc_value":18,"success_type":"half"},"damage":[{"damage_type":{"index":"acid","name":"Acid","url":"/api/damage-types/acid"},"damage_dice":"12d8"}],"actions":[]}],"legendary_actions":[{"name":"Detect","desc":"The
        dragon makes a Wisdom (Perception) check."},{"name":"Tail Attack","desc":"The
        dragon makes a tail attack."},{"name":"Wing Attack (Costs 2 Actions)","desc":"The
        dragon beats its wings. Each creature within 10 ft. of the dragon must succeed
        on a DC 19 Dexterity saving throw or take 13 (2d6 + 6) bludgeoning damage
        and be knocked prone. The dragon can then fly up to half its flying speed.","dc":{"dc_type":{"index":"dex","name":"DEX","url":"/api/ability-scores/dex"},"dc_value":19,"success_type":"none"},"damage":[{"damage_type":{"index":"bludgeoning","name":"Bludgeoning","url":"/api/damage-types/bludgeoning"},"damage_dice":"2d6+6"}]}],"image":"/api/images/monsters/adult-black-dragon.png","url":"/api/monsters/adult-black-dragon"}'
  recorded_at: Sun, 05 Nov 2023 05:23:14 GMT
recorded_with: VCR 6.2.0
