---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/fighter/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422698'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d89-RIRv76e25tbv1o1yLv9x9YnKuTU"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"fighter-fighting-style","name":"Fighting
        Style","url":"/api/features/fighter-fighting-style"},{"index":"second-wind","name":"Second
        Wind","url":"/api/features/second-wind"}],"class_specific":{"action_surges":0,"indomitable_uses":0,"extra_attacks":0},"index":"fighter-1","class":{"index":"fighter","name":"Fighter","url":"/api/classes/fighter"},"url":"/api/classes/fighter/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"action-surge-1-use","name":"Action
        Surge (1 use)","url":"/api/features/action-surge-1-use"}],"class_specific":{"action_surges":1,"indomitable_uses":0,"extra_attacks":0},"index":"fighter-2","class":{"index":"fighter","name":"Fighter","url":"/api/classes/fighter"},"url":"/api/classes/fighter/levels/2"},{"level":3,[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/acid-arrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422698'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"546-wuxpQUdCv2m+bt7WFrL8Irt8fyo"
    body:
      encoding: UTF-8
      string: '{"index":"acid-arrow","name":"Acid Arrow","desc":["A shimmering green
        arrow streaks toward a target within range and bursts in a spray of acid.
        Make a ranged spell attack against the target. On a hit, the target takes
        4d4 acid damage immediately and 2d4 acid damage at the end of its next turn.
        On a miss, the arrow splashes the target with acid for half as much of the
        initial damage and no damage at the end of its next turn."],"higher_level":["When
        you cast this spell using a spell slot of 3rd level or higher, the damage
        (both initial and later) increases by 1d4 for each slot level above 2nd."],"range":"90
        feet","components":["V","S","M"],"material":"Powdered rhubarb leaf and an
        adder''s stomach.","ritual":false,"duration":"Instantaneous","concentration":false,"casting_time":"1
        action","level":2,"attack_type":"ranged","damage":{"damage_type":{"index":"acid","name":"Acid","url":"/api/damage-types/acid"},"damage_at_slot_level":{"2":"4d4","3":"5d4","4":"6d4","5":"7d4","6":"8d4","7":"9d4","8":"10d4","9":"11d4"}},"school":{"index":"evocation","name":"Evocation","url":"/api/magic-schools/evocation"},"classes":[{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"}],"subclasses":[{"index":"lore","name":"Lore","url":"/api/subclasses/lore"},{"index":"land","name":"Land","url":"/api/subclasses/land"}],"url":"/api/spells/acid-arrow"}'
  recorded_at: Wed, 08 Nov 2023 05:51:36 GMT
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/warlock/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422699'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36b7-yUZXRM2xnGwh4uUg4y8iHkKa540"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"otherworldly-patron","name":"Otherworldly
        Patron","url":"/api/features/otherworldly-patron"},{"index":"pact-magic","name":"Pact
        Magic","url":"/api/features/pact-magic"}],"spellcasting":{"cantrips_known":2,"spells_known":2,"spell_slots_level_1":1,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"invocations_known":0,"mystic_arcanum_level_6":0,"mystic_arcanum_level_7":0,"mystic_arcanum_level_8":0,"mystic_arcanum_level_9":0},"index":"warlock-1","class":{"index":"warlock","name":"Warlock","url":"/api/classes/warlock"},"url":"/api/classes/warlock/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"eldritch-invocations","name":"Eldritch
        Invocations","url":"/api/features/eldritch-invocations"}],"spellcasting":{"cantrips_known":2,"spells_known":3,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/cleric/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422701'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3305-JZcvNcEU/PL/WmE7IiDhfPnXQPI"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-cleric","name":"Spellcasting:
        Cleric","url":"/api/features/spellcasting-cleric"},{"index":"divine-domain","name":"Divine
        Domain","url":"/api/features/divine-domain"},{"index":"domain-spells-1","name":"Domain
        Spells","url":"/api/features/domain-spells-1"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"channel_divinity_charges":0,"destroy_undead_cr":0},"index":"cleric-1","class":{"index":"cleric","name":"Cleric","url":"/api/classes/cleric"},"url":"/api/classes/cleric/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"channel-divinity-1-rest","name":"Channel
        Divinity (1/rest)","url":"/api/features/channel-divinity-1-rest"},{"index":"channel-divinity-turn-undead","name":"Channel
        Divinity: Turn Undead","url":"/api/features/channel-divinity-turn-undead"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":3,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"channel_divinity_charges":1,"destroy_undead_cr":0},"index":"cleric-2","class":{"index":"cleric","name":"Cleric","url":"/api/classes/cleric"},"url":"/api/classes/c[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/druid/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422702'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fec-sT2u1iy+gY9BXwvhLqLqFWLpmX8"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-druid","name":"Spellcasting:
        Druid","url":"/api/features/spellcasting-druid"},{"index":"druidic","name":"Druidic","url":"/api/features/druidic"}],"spellcasting":{"cantrips_known":2,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"wild_shape_max_cr":0,"wild_shape_swim":false,"wild_shape_fly":false},"index":"druid-1","class":{"index":"druid","name":"Druid","url":"/api/classes/druid"},"url":"/api/classes/druid/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"wild-shape-cr-1-4-or-below-no-flying-or-swim-speed","name":"Wild
        Shape (CR 1/4 or below, no flying or swim speed)","url":"/api/features/wild-shape-cr-1-4-or-below-no-flying-or-swim-speed"},{"index":"druid-circle","name":"Druid
        Circle","url":"/api/features/druid-circle"}],"spellca[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/branding-smite
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422702'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44e-BQ7CAVZykqR69GR8pDOz8N2beck"
    body:
      encoding: UTF-8[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/bard/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422703'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38ce-9jkXX3zp84HP3OAYYoPaBlULkc0"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-bard","name":"Spellcasting:
        Bard","url":"/api/features/spellcasting-bard"},{"index":"bardic-inspiration-d6","name":"Bardic
        Inspiration (d6)","url":"/api/features/bardic-inspiration-d6"}],"spellcasting":{"cantrips_known":2,"spells_known":4,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"bardic_inspiration_die":6,"song_of_rest_die":0,"magical_secrets_max_5":0,"magical_secrets_max_7":0,"magical_secrets_max_9":0},"index":"bard-1","class":{"index":"bard","name":"Bard","url":"/api/classes/bard"},"url":"/api/classes/bard/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"jack-of-all-trades","name":"Jack
        of All Trades","url":"/api/features/jack-of-all-trades"},{"index":"song-of-rest-d6","name":"Song
        of Rest (d6)","url":"/api/features/song-of-rest-d6"}],"spellcasting":{"cantrips_known":2,"spells_known":5,"spell_slots_level_1":3,"spell_slots_level_2":0,"spel[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/fireball
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422704'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"622-Mtc7pANQhoeHhQT4wqBsNZ8ePDc"
    body:
      encoding: UTF-8
     [...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/scorching-ray
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9998'
      X-Ratelimit-Reset:
      - '1699422704'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"432-+3rOQvbWCeQNPteFf83SHmgErkg"
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/magic-missile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422704'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ab-cOvsxkQG1XhWreCnh7NJyeBLOeE"
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422705'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65dd-hH4L8qffMbXzGKhieZCl05Za8iY"
    body:
      encoding: UTF-8
      string: '{"count":334,"results":[{"index":"aboleth","name":"Aboleth","url":"/api/monsters/aboleth"},{"index":"acolyte","name":"Acolyte","url":"/api/monsters/acolyte"},{"index":"adult-black-dragon","name":"Adult
        Black Dragon","url":"/api/monsters/adult-black-dragon"},{"index":"adult-blue-dragon","name":"Adult
        Blue Dragon","url":"/api/monsters/adult-blue-dragon"},{"index":"adult-brass-dragon","name":"Adult
        Brass Dragon","url":"/api/monsters/adult-brass-dragon"},{"index":"adult-bronze-dragon","name":"Adult[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/aboleth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422705'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"135a-Iv/Xb2r7Ia1wMfkqpr4zBxa+GpQ"
    body:
      encoding: UTF-8
      string: '{"index":"aboleth","name":"Aboleth","size":"Large","type":"aberration","alignment":"lawful
        evil","armor_class":[{"type":"natural","value":17}],"hit_points":135,"hit_dice":"18d10","hit_points_roll":"18d10+36","speed":{"walk":"10
        ft.","swim":"40 ft."},"strength":21,"dexterity":9,"constitution":15,"intelligence":18,"wisdom":15,"charisma":18,"proficiencies":[{"value":6,"proficiency":{"index":"saving-throw-con","name":"Saving
        Throw: CON","url":"/api/proficiencies/saving-throw-con"}},{"value":8,"proficiency":{"index":"saving-throw-int","name":"Saving
        Throw: INT","url":"/api/proficiencies/saving-throw-int"}},{"value":6,"proficiency":{"index":"saving-throw-wis","name":"Saving
        Throw: WIS","url":"/api/proficiencies/saving-throw-wis"}},{"value":12,"proficiency":{"index":"skill-history","name":"Skill:
        History","url":"/api/proficiencies/skill-history"}},{"value":10,"proficiency":{"index":"skill-perception","name":"Skill:
        Perception","url":"/api/proficiencies/skill-perception"}}],"damage_vulnerabilities":[],"damage_resistances":[],"damage_immunities":[],"condition_immunities":[],"senses":{"darkvision":"120
        ft.","passive_perception":20},"languages":"Deep Speech, telepathy 120 ft.","challenge_rating":10,"proficiency_bonus":4,"xp":5900,"special_abilities":[{"name":"Amphibious","desc":"The
        aboleth can breathe air and water."},{"name":"Mucous Cloud","desc":"While
        underwater, the aboleth is surrounded by transformative mucus. A creature
        that touches the aboleth or that hits it with a melee attack while within
        5 ft. of it must make a DC 14 Constitution saving throw. On a failure, the
        creature is diseased for 1d4 hours. The diseased creature can breathe only
        underwater.","dc":{"dc_type":{"index":"con","name":"CON","url":"/api/ability-scores/con"},"dc_value":14,"success_type":"none"}},{"name":"Probing
        Telepathy","desc":"If a creature communicates telepathically with the aboleth,
        the aboleth learns the creature''s greatest desires if the aboleth can see
        the creature."}],"actions":[{"name":"Multiattack","multiattack_type":"actions","desc":"The
        aboleth makes three tentacle attacks.","actions":[{"action_name":"Tentacle","count":3,"type":"melee"}]},{"name":"Tentacle","desc":"Melee
        Weapon Attack: +9 to hit, reach 10 ft., one target. Hit: 12 (2d6 + 5) bludgeoning
        damage. If the target is a creature, it must succeed on a DC 14 Constitution
        saving throw or become diseased. The disease has no effect for 1 minute and
        can be removed by any magic that cures disease. After 1 minute, the diseased
        creature''s skin becomes translucent and slimy, the creature can''t regain
        hit points unless it is underwater, and the disease can be removed only by
        heal or another disease-curing spell of 6th level or higher. When the creature
        is outside a body of water, it takes 6 (1d12) acid damage every 10 minutes
        unless moisture is applied to the skin before 10 minutes have passed.","attack_bonus":9,"dc":{"dc_type":{"index":"con","name":"CON","url":"/api/ability-scores/con"},"dc_value":14,"success_type":"none"},"damage":[{"damage_type":{"index":"bludgeoning","name":"Bludgeoning","url":"/api/damage-types/bludgeoning"},"damage_dice":"2d6+5"},{"damage_type":{"index":"acid","name":"Acid","url":"/api/damage-types/acid"},"damage_dice":"1d12"}],"actions":[]},{"name":"Tail","desc":"Melee
        Weapon Attack: +9 to hit, reach 10 ft. one target. Hit: 15 (3d6 + 5) bludgeoning
        damage.","attack_bonus":9,"damage":[{"damage_type":{"index":"bludgeoning","name":"Bludgeoning","url":"/api/damage-types/bludgeoning"},"damage_dice":"3d6+5"}],"actions":[]},{"name":"Enslave","desc":"The
        aboleth targets one creature it can see within 30 ft. of it. The target must
        succeed on a DC 14 Wisdom saving throw or be magically charmed by the aboleth
        until the aboleth dies or until it is on a different plane of existence from
        the target. The charmed target is under the aboleth''s control and can''t
        take reactions, and the aboleth and the target can communicate telepathically
        with each other over any distance.\nWhenever the charmed target takes damage,
        the target can repeat the saving throw. On a success, the effect ends. No
        more than once every 24 hours, the target can also repeat the saving throw
        when it is at least 1 mile away from the aboleth.","usage":{"type":"per day","times":3},"dc":{"dc_type":{"index":"wis","name":"WIS","url":"/api/ability-scores/wis"},"dc_value":14,"success_type":"none"},"actions":[]}],"legendary_actions":[{"name":"Detect","desc":"The
        aboleth makes a Wisdom (Perception) check."},{"name":"Tail Swipe","desc":"The
        aboleth makes one tail attack."},{"name":"Psychic Drain (Costs 2 Actions)","desc":"One
        creature charmed by the aboleth takes 10 (3d6) psychic damage, and the aboleth
        regains hit points equal to the damage the creature takes.","attack_bonus":0,"damage":[{"damage_type":{"index":"psychic","name":"Psychic","url":"/api/damage-types/psychic"},"damage_dice":"3d6"}]}],"image":"/api/images/monsters/aboleth.png","url":"/api/monsters/aboleth"}'
  recorded_at: Wed, 08 Nov 2023 05:51:44 GMT
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/acolyte
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422706'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"904-nf5rAYn1UNZ7ilV7Yjop+gOkYY4"
    body:
      encoding: UTF-8
      string: '{"index":"acolyte","name":"Acolyte","desc":"Acolytes are junior members
        of a clergy, usually answerable to a priest. They perform a variety of functions
        in a temple and are granted minor spellcasting power by their deities.","size":"Medium","type":"humanoid","subtype":"any
        race","alignment":"any alignment","armor_class":[{"type":"dex","value":10}],"hit_points":9,"hit_dice":"2d8","hit_points_roll":"2d8","speed":{"walk":"30
        ft."},"strength":10,"dexterity":10,"constitution":10,"intelligence":10,"wisdom":14,"charisma":11,"proficiencies":[{"value":4,"proficiency":{"index":"skill-medicine","name":"Skill:
        Medicine","url":"/api/proficiencies/skill-medicine"}},{"value":2,"proficiency":{"index":"skill-religion","name":"Skill:
        Religion","url":"/api/proficiencies/skill-religion"}}],"damage_vulnerabilities":[],"damage_resistances":[],"damage_immunities":[],"condition_immunities":[],"senses":{"passive_perception":12},"languages":"any
        one language (usually Common)","challenge_rating":0.25,"proficiency_bonus":2,"xp":50,"special_abilities":[{"name":"Spellcasting","desc":"The
        acolyte is a 1st-level spellcaster. Its spellcasting ability is Wisdom (spell
        save DC 12, +4 to hit with spell attacks). The acolyte has following cleric
        spells prepared:\n\n- Cantrips (at will): light, sacred flame, thaumaturgy\n-
        1st level (3 slots): bless, cure wounds, sanctuary","spellcasting":{"level":1,"ability":{"index":"wis","name":"WIS","url":"/api/ability-scores/wis"},"dc":12,"modifier":4,"components_required":["V","S","M"],"school":"cleric","slots":{"1":3},"spells":[{"name":"Light","level":0,"url":"/api/spells/light"},{"name":"Sacred
        Flame","level":0,"url":"/api/spells/sacred-flame"},{"name":"Thaumaturgy","level":0,"url":"/api/spells/thaumaturgy"},{"name":"Bless","level":1,"url":"/api/spells/bless"},{"name":"Cure
        Wounds","level":1,"url":"/api/spells/cure-wounds"},{"name":"Sanctuary","level":1,"url":"/api/spells/sanctuary"}]}}],"actions":[{"name":"Club","desc":"Melee
        Weapon Attack: +2 to hit, reach 5 ft., one target. Hit: 2 (1d4) bludgeoning
        damage.","attack_bonus":2,"damage":[{"damage_type":{"index":"bludgeoning","name":"Bludgeoning","url":"/api/damage-types/bludgeoning"},"damage_dice":"1d4"}],"actions":[]}],"image":"/api/images/monsters/acolyte.png","url":"/api/monsters/acolyte","legendary_actions":[]}'
  recorded_at: Wed, 08 Nov 2023 05:51:44 GMT
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/adult-black-dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422706'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1339-/vBK8nfTUDekZyRRUxf77yQsKOY"
    body:
      encoding: UTF-8
      string: '{"index":"adult-black-dragon","name":"Adult Black Dragon","size":"Huge","type":"dragon","alignment":"chaotic
        evil","armor_class":[{"type":"natural","value":19}],"hit_points":195,"hit_dice":"17d12","hit_points_roll":"17d12+85","speed":{"walk":"40
        ft.","fly":"80 ft.","swim":"40 ft."},"strength":23,"dexterity":14,"constitution":21,"intelligence":14,"wisdom":13,"charisma":17,"proficiencies":[{"value":7,"proficiency":{"index":"saving-throw-dex","name":"Saving
        Throw: DEX","url":"/api/proficiencies/saving-throw-dex"}},{"value":10,"proficiency":{"index":"saving-throw-con","name":"Saving
        Throw: CON","url":"/api/proficiencies/saving-throw-con"}},{"value":6,"proficiency":{"index":"saving-throw-wis","name":"Saving
        Throw: WIS","url":"/api/proficiencies/saving-throw-wis"}},{"value":8,"proficiency":{"index":"saving-throw-cha","name":"Saving
        Throw: CHA","url":"/api/proficiencies/saving-throw-cha"}},{"value":11,"proficiency":{"index":"skill-perception","name":"Skill:
        Perception","url":"/api/proficiencies/skill-perception"}},{"value":7,"proficiency":{"index":"skill-stealth","name":"Skill:
        Stealth","url":"/api/proficiencies/skill-stealth"}}],"damage_vulnerabilities":[],"damage_resistances":[],"damage_immunities":["acid"],"condition_immunities":[],"senses":{"blindsight":"60
        ft.","darkvision":"120 ft.","passive_perception":21},"languages":"Common,
        Draconic","challenge_rating":14,"proficiency_bonus":5,"xp":11500,"special_abilities":[{"name":"Amphibious","desc":"The
        dragon can breathe air and water."},{"name":"Legendary Resistance","desc":"If
        the dragon fails a saving throw, it can choose to succeed instead.","usage":{"type":"per
        day","times":3,"rest_types":[]}}],"actions":[{"name":"Multiattack","multiattack_type":"actions","desc":"The
        dragon can use its Frightful Presence. It then makes three attacks: one with
        its bite and two with its claws.","actions":[{"action_name":"Frightful Presence","count":1,"type":"ability"},{"action_name":"Bite","count":1,"type":"melee"},{"action_name":"Claw","count":2,"type":"melee"}]},{"name":"Bite","desc":"Melee
        Weapon Attack: +11 to hit, reach 10 ft., one target. Hit: 17 (2d10 + 6) piercing
  [...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/adult-blue-dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422706'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12f6-85Iv3fIOINFaKIJ4iel+cgiGRaQ"
    body:
      encoding: UTF-8
      string: '{"index":"adult-blue-dragon","name":"Adult Blue Dragon","size":"Huge","type":"dragon","alignment":"lawful
        evil","armor_class":[{"type":"natural","value":19}],"hit_points":225,"hit_dice":"18d12","hit_points_roll":"18d12+108","speed":{"walk":"40
        ft.","burrow":"30 ft.","fly":"80 ft."},"strength":25,"dexterity":10,"constitution":23,"intelligence":16,"wisdom":15,"charisma":19,"proficiencies":[{"value":5,"proficiency":{"index":"saving-throw-dex","name":"Saving
        Throw: DEX","url":"/api/proficiencies/saving-throw-dex"}},{"value":11,"proficiency":{"index":"saving-throw-con","name":"Saving
        Throw: CON","url":"/api/proficiencies/saving-throw-con"}},{"value":7,"proficiency":{"index":"saving-throw-wis","name":"Saving
        Throw: WIS","url":"/ap[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/adult-brass-dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422707'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15c0-bPCEYJHllBhEPhJgy9ovAbQbjX8"
    body:
      encoding[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/adult-bronze-dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422707'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"157c-lfM56vKwlFsokUc1RlTawVMoi3g"
    body:
      encodin[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/adult-copper-dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422707'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"163e-TZQHSJ3anKwE/Uo00pGyrxGI63g"
    body:
      encoding: UTF-8
      string: '{"index":"adult-copper-dragon","name":"Adult Copper Dragon","size":"Huge","type":"dragon","alignment":"chaotic
        good","armor_class":[{"type":"natural","value":18}],"hit_points":184,"hit_dice":"16d12","hit_points_roll":"16d12+80","speed":{"walk":"40
        ft.","climb":"40 ft.","fly":"80 ft."},"strength":23,"dexterity":12,"constitution":21,"intelligence":18,"wisdom":15,"charisma":17,"proficiencies":[{"value":6,"proficiency":{"index":"saving-throw-dex","name":"Saving
        Throw: DEX","url":"/api/proficiencies/saving-throw-dex"}},{"value":10,"proficiency":{"index":"saving-throw-con","name":"Saving
        Throw: CON","url":"/api/proficiencies/saving-throw-con"}},{"value":7,"proficiency":{"index":"saving-throw-wis","name":"Saving
        Throw: WIS","url":"/ap[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/adult-gold-dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422708'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1646-PdVywcuTkuLpbLh+rUCR7n4Wngw"
    body:
      encoding:[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/adult-green-dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699422708'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14c4-FaSi7NbdHOs7po5im2JnPNxHx1g"
    body:
      encoding[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/adult-red-dragon
    body:
[...]
