---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/barbarian/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230651'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f14-L4xeESyvE1HH5BpeTqQ1uTQXGj4"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"rage","name":"Rage","url":"/api/features/rage"},{"index":"barbarian-unarmored-defense","name":"Unarmored
        Defense","url":"/api/features/barbarian-unarmored-defense"}],"class_specific":{"rage_count":2,"rage_damage_bonus":2,"brutal_critical_dice":0},"index":"barbarian-1","class":{"index":"barbarian","name":"Barbarian","url":"/api/classes/barbarian"},"url":"/api/classes/barbarian/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"reckless-attack","name":"Reckless
        Attack","url":"/api/features/reckless-attack"},{"index":"danger-sense","name":"Danger
        Sense","url":"/api/features/danger-sense"}],"class_specific":{"rage_count":2,"rage_damage_bonus":2,"brutal_critical_dice":0},"index":"barbarian-2","class":{"index":"barbarian","[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/fireball
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230652'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"622-Mtc7pANQhoeHhQT4wqBsNZ8ePDc"
    body:
      encoding: UTF-8
      string: '{"index":"fireball","name":"Fireball","desc":["A bright streak flashes
        from your pointing finger to a point you choose within range and then blossoms
        with a low roar into an explosion of flame. Each creature in a 20-foot-radius
        sphere centered on that point must make a dexterity saving throw. A target
        takes 8d6 fire damage on a failed save, or half as much damage on a successful
        one.","The fire spreads around corners. It ignites flammable objects in the
        area that aren''t being worn or carried."],"higher_level":["When you cast
        this spell using a spell slot of 4th level or higher, the damage increases
        by 1d6 for each slot level above 3rd."],"range":"150 feet","components":["V","S","M"],"material":"A
        tiny ball of bat guano and sulfur.","ritual":false,"duration":"Instantaneous","concentration":false,"casting_time":"1
        action","level":3,"damage":{"damage_type":{"index":"fire","name":"Fire","url":"/api/damage-types/fire"},"damage_at_slot_level":{"3":"8d6","4":"9d6","5":"10d6","6":"11d6","7":"12d6","8":"13d6","9":"14d6"}},"dc":{"dc_type":{"index":"dex","name":"DEX","url":"/api/ability-scores/dex"},"dc_success":"half"},"area_of_effect":{"type":"sphere","size":20},"school":{"index":"evocation","name":"Evocation","url":"/api/magic-schools/evocation"},"classes":[{"index":"sorcerer","name":"Sorcerer","url":"/api/classes/sorcerer"},{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"}],"subclasses":[{"index":"lore","name":"Lore","url":"/api/subclasses/lore"},{"index":"fiend","name":"Fiend","url":"/api/subclasses/fiend"}],"url":"/api/spells/fireball"}'
  recorded_at: Mon, 06 Nov 2023 00:30:50 GMT
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/cone-of-cold
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230652'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"577-WZu5/KTNGG0CpamVq6wK+oULn+4"
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/acid-arrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230652'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"546-wuxpQUdCv2m+bt7WFrL8Irt8fyo"
    body:
      encoding: UTF-8
      string: '{"index":"acid-arrow","name":"Acid Arrow","desc":["A shimmering green
        arrow streaks toward a target within range and bursts in a spray of acid.
        Make a ranged spell attack against the target. On a hit, the target takes
        4d4 acid damage immediately and 2d4 acid damage at the end of its next turn.
        On a miss, the arrow splashes the target with acid for half as much of the
        initial damage and no damage at the end of its next turn."],"higher_level":["When
        you cast this spell using a spell slot of 3rd level or higher, the damage
        (both initial and later) increases by 1d4 for each slot level above 2nd."],"range":"90
        feet","components":["V","S","M"],"material":"Powdered rhubarb leaf and an
        adder''s stomach.","ritual":false,"duration":"Instantaneous","concentration":false,"casting_time":"1
        action","level":2,"attack_type":"ranged","damage":{"damage_type":{"index":"acid","name":"Acid","url":"/api/damage-types/acid"},"damage_at_slot_level":{"2":"4d4","3":"5d4","4":"6d4","5":"7d4","6":"8d4","7":"9d4","8":"10d4","9":"11d4"}},"school":{"index":"evocation","name":"Evocation","url":"/api/magic-schools/evocation"},"classes":[{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"}],"subclasses":[{"index":"lore","name":"Lore","url":"/api/subclasses/lore"},{"index":"land","name":"Land","url":"/api/subclasses/land"}],"url":"/api/spells/acid-arrow"}'
  recorded_at: Mon, 06 Nov 2023 00:30:51 GMT
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/bard/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230653'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38ce-9jkXX3zp84HP3OAYYoPaBlULkc0"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-bard","name":"Spellcasting:
        Bard","url":"/api/features/spellcasting-bard"},{"index":"bardic-inspiration-d6","name":"Bardic
        Inspiration (d6)","url":"/api/features/bardic-inspiration-d6"}],"spellcasting":{"cantrips_known":2,"spells_known":4,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"bardic_inspiration_die":6,"song_of_rest_die":0,"magical_secrets_max_5":0,"magical_secrets_max_7":0,"magical_secrets_max_9":0},"index":"bard-1","class":{"index":"bard","name":"Bard","url":"/api/classes/bard"},"url":"/api/classes/bard/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"jack-of-all-trades","name":"Jack
        of All Trades","url":"/api/features/jack-of-all-trades"},{"index":"song-of-rest-d6","name":"Song
        of Rest (d6)","url":"/api/features/song-of-rest-d6"}],"spellcasting":{"cantrips_known":2,"spells_known":5,"spell_slots_level_1":3,"spell_slots_level_2":0,"spel[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/cleric/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230654'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3305-JZcvNcEU/PL/WmE7IiDhfPnXQPI"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-cleric","name":"Spellcasting:
        Cleric","url":"/api/features/spellcasting-cleric"},{"index":"divine-domain","name":"Divine
        Domain","url":"/api/features/divine-domain"},{"index":"domain-spells-1","name":"Domain
        Spells","url":"/api/features/domain-spells-1"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"channel_divinity_charges":0,"destroy_undead_cr":0},"index":"cleric-1","class":{"index":"cleric","name":"Cleric","url":"/api/classes/cleric"},"url":"/api/classes/cleric/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"channel-divinity-1-rest","name":"Channel
        Divinity (1/rest)","url":"/api/features/channel-divinity-1-rest"},{"index":"channel-divinity-turn-undead","name":"Channel
        Divinity: Turn Undead","url":"/api/features/channel-divinity-turn-undead"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":3,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"channel_divinity_charges":1,"destroy_undead_cr":0},"index":"cleric-2","class":{"index":"cleric","name":"Cleric","url":"/api/classes/cleric"},"url":"/api/classes/c[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/druid/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230655'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fec-sT2u1iy+gY9BXwvhLqLqFWLpmX8"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-druid","name":"Spellcasting:
        Druid","url":"/api/features/spellcasting-druid"},{"index":"druidic","name":"Druidic","url":"/api/features/druidic"}],"spellcasting":{"cantrips_known":2,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"wild_shape_max_cr":0,"wild_shape_swim":false,"wild_shape_fly":false},"index":"druid-1","class":{"index":"druid","name":"Druid","url":"/api/classes/druid"},"url":"/api/classes/druid/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"wild-shape-cr-1-4-or-below-no-flying-or-swim-speed","name":"Wild
        Shape (CR 1/4 or below, no flying or swim speed)","url":"/api/features/wild-shape-cr-1-4-or-below-no-flying-or-swim-speed"},{"index":"druid-circle","name":"Druid
        Circle","url":"/api/features/druid-circle"}],"spellca[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/fighter/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230657'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d89-RIRv76e25tbv1o1yLv9x9YnKuTU"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"fighter-fighting-style","name":"Fighting
        Style","url":"/api/features/fighter-fighting-style"},{"index":"second-wind","name":"Second
        Wind","url":"/api/features/second-wind"}],"class_specific":{"action_surges":0,"indomitable_uses":0,"extra_attacks":0},"index":"fighter-1","class":{"index":"fighter","name":"Fighter","url":"/api/classes/fighter"},"url":"/api/classes/fighter/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"action-surge-1-use","name":"Action
        Surge (1 use)","url":"/api/features/action-surge-1-use"}],"class_specific":{"action_surges":1,"indomitable_uses":0,"extra_attacks":0},"index":"fighter-2","class":{"index":"fighter","name":"Fighter","url":"/api/classes/fighter"},"url":"/api/classes[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/monk/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230658'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2113-2Cnjk5wV37Ba15SvrQ3+NpA0vAU"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"monk-unarmored-defense","name":"Unarmored
        Defense","url":"/api/features/monk-unarmored-defense"},{"index":"martial-arts","name":"Martial
        Arts","url":"/api/features/martial-arts"}],"class_specific":{"martial_arts":{"dice_count":1,"dice_value":4},"ki_points":0,"unarmored_movement":0},"index":"monk-1","class":{"index":"monk","name":"Monk","url":"/api/classes/monk"},"url":"/api/classes/monk/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"ki","name":"Ki","url":"/api/features/ki"},{"index":"flurry-of-blows","name":"Flurry
        of Blows","url":"/api/features/flurry-of-blows"},{"index":"patient-defense","name":"Patient
        Defense","url":"/api/features/patient-defense"},{"index":"step-of-the-wind","name":"Step
        of the Wind","ur[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/paladin/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9998'
      X-Ratelimit-Reset:
      - '1699230659'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2530-1tkm2VKJ+7ldX/m7yBWeWJgefzA"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"divine-sense","name":"Divine
        Sense","url":"/api/features/divine-sense"},{"index":"lay-on-hands","name":"Lay
        on Hands","url":"/api/features/lay-on-hands"}],"spellcasting":{"spell_slots_level_1":0,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0},"class_specific":{"aura_range":0},"index":"paladin-1","class":{"index":"paladin","name":"Paladin","url":"/api/classes/paladin"},"url":"/api/classes/paladin/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"paladin-fighting-style","name":"Fighting
        Style","url":"/api/features/paladin-fighting-style"},{"index":"spellcasting-paladin","name":"Spellcasting:
        Paladin","url":"/api/features/spellcasting-paladin"},{"index":"divine-smite","name":"Divine
        Smite","url":"/api/feature[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/ranger/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230661'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"292e-tFhgoWxFMiIZkpYc6Vs6ivhEvaE"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"favored-enemy-1-type","name":"Favored
        Enemy (1 type)","url":"/api/features/favored-enemy-1-type"},{"index":"natural-explorer-1-terrain-type","name":"Natural
        Explorer (1 terrain type)","url":"/api/features/natural-explorer-1-terrain-type"}],"spellcasting":{"spells_known":0,"spell_slots_level_1":0,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0},"class_specific":{"favored_enemies":1,"favored_terrain":1},"index":"ranger-1","class":{"index":"ranger","name":"Ranger","url":"/api/classes/ranger"},"url":"/api/classes/ranger/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"ranger-fighting-style","name":"Fighting
        Style","url":"/api/features/ranger-fighting-style"},{"index":"spellcasting-ranger","name":"Spellcasting:
        Ranger","url":"/api/features/spellcasting-ranger"}],"spellcasting":{"spells_known":2,"spell_slots_level_1":2,"spell_slots_level_2":0,"[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/rogue/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230662'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b80-xOHyB0GIdZo+HMlUskKysxEVr/U"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"rogue-expertise-1","name":"Expertise","url":"/api/features/rogue-expertise-1"},{"index":"sneak-attack","name":"Sneak
        Attack","url":"/api/features/sneak-attack"},{"index":"thieves-cant","name":"Thieves''
        Cant","url":"/api/features/thieves-cant"}],"class_specific":{"sneak_attack":{"dice_count":1,"dice_value":6}},"index":"rogue-1","class":{"index":"rogue","name":"Rogue","url":"/api/classes/rogue"},"url":"/api/classes/rogue/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"cunning-action","name":"Cunning
        Action","url":"/api/features/cunning-action"}],"class_specific":{"sneak_attack":{"dice_count":1,"dice_value":6}},"index":"rogue-2","class":{"index":"rogue","name":"Rogue","url":"/api/classes/rogue"},"url":"/api/classes/rogue/level[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/sorcerer/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230663'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4330-bHjxgj2Ou386SvBmFqsK7mUKuTM"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-sorcerer","name":"Spellcasting:
        Sorcerer","url":"/api/features/spellcasting-sorcerer"},{"index":"sorcerous-origin","name":"Sorcerous
        Origin","url":"/api/features/sorcerous-origin"}],"spellcasting":{"cantrips_known":4,"spells_known":2,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"sorcery_points":0,"metamagic_known":0,"creating_spell_slots":[]},"index":"sorcerer-1","class":{"index":"sorcerer","name":"Sorcerer","url":"/api/classes/sorcerer"},"url":"/api/classes/sorcerer/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"font-of-magic","name":"Font
        of Magic","url":"/api/features/font-of-magic"},{"index":"flexible-casting-creating-spell-slots","name":"Flexible
        Casting: Creating Spell Slots","url":"/api/features/flexible-casting-creating-spell-slots"},{"index":"flexible-casting-converting-spell-slot","name":"Flexible
        Casting: Converting Spell Slot","url":"/api/features/flexible-casting-converting-spell-slot"}],"spellcasting":{"cantrips_known":4,"spells_known":3,"spell_slots_level_1":3,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"sorcery_points":2,"metamagic_known":0,"creating_spell_slots":[{"spell_slot_level":1,"sorcery_point_cost":2},{"spell_slot_level":2,"sorcery_point_cost":3},{"spell_slot_level":3,"sorcery_point_cost":5},{"spell_slot_level":4,"sorcery_point_cost":6},{"spell_slot_level":5,"sorcery_point_cost":7}]},"index":"sorcerer-2","class":{"index":"sorcerer","name":"Sorcerer","url":"/api/classes/sorcerer"},"url":"/api/classes/sorcerer/levels/2"},{"level":3,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"metamagic-1","name":"Metamagic","url":"/api/features/metamagic-1"}],"spellcasting":{"cantrips_known[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/warlock/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230665'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36b7-yUZXRM2xnGwh4uUg4y8iHkKa540"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"otherworldly-patron","name":"Otherworldly
        Patron","url":"/api/features/otherworldly-patron"},{"index":"pact-magic","name":"Pact
        Magic","url":"/api/features/pact-magic"}],"spellcasting":{"cantrips_known":2,"spells_known":2,"spell_slots_level_1":1,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"invocations_known":0,"mystic_arcanum_level_6":0,"mystic_arcanum_level_7":0,"mystic_arcanum_level_8":0,"mystic_arcanum_level_9":0},"index":"warlock-1","class":{"index":"warlock","name":"Warlock","url":"/api/classes/warlock"},"url":"/api/classes/warlock/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"eldritch-invocations","name":"Eldritch
        Invocations","url":"/api/features/eldritch-invocations"}],"spellcasting":{"cantrips_known":2,"spells_known":3,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_[...]
[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/wizard/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699230666'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b13-DQLgqlgkjbgI3M7SGqK8Ub1aB6Q"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"spellcasting-wizard","name":"Spellcasting:
        Wizard","url":"/api/features/spellcasting-wizard"},{"index":"arcane-recovery","name":"Arcane
        Recovery","url":"/api/features/arcane-recovery"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"arcane_recovery_levels":1},"index":"wizard-1","class":{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"},"url":"/api/classes/wizard/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"arcane-tradition","name":"Arcane
        Tradition","url":"/api/features/arcane-tradition"}],"spellcasting":{"cantrips_known":3,"spell_slots_level_1":3,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0[...]
[...]
