---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/classes/warlock/levels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699232828'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36b7-yUZXRM2xnGwh4uUg4y8iHkKa540"
    body:
      encoding: UTF-8
      string: '[{"level":1,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"otherworldly-patron","name":"Otherworldly
        Patron","url":"/api/features/otherworldly-patron"},{"index":"pact-magic","name":"Pact
        Magic","url":"/api/features/pact-magic"}],"spellcasting":{"cantrips_known":2,"spells_known":2,"spell_slots_level_1":1,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7":0,"spell_slots_level_8":0,"spell_slots_level_9":0},"class_specific":{"invocations_known":0,"mystic_arcanum_level_6":0,"mystic_arcanum_level_7":0,"mystic_arcanum_level_8":0,"mystic_arcanum_level_9":0},"index":"warlock-1","class":{"index":"warlock","name":"Warlock","url":"/api/classes/warlock"},"url":"/api/classes/warlock/levels/1"},{"level":2,"ability_score_bonuses":0,"prof_bonus":2,"features":[{"index":"eldritch-invocations","name":"Eldritch
        Invocations","url":"/api/features/eldritch-invocations"}],"spellcasting":{"cantrips_known":2,"spells_known":3,"spell_slots_level_1":2,"spell_slots_level_2":0,"spell_slots_level_3":0,"spell_slots_level_4":0,"spell_slots_level_5":0,"spell_slots_level_6":0,"spell_slots_level_7[...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/fireball
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699232828'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"622-Mtc7pANQhoeHhQT4wqBsNZ8ePDc"
    body:
      encoding: UTF-8
      string: '{"index":"fireball","name":"Fireball","desc":["A bright streak flashes
        from your pointing finger to a point you choose within range and then blossoms
        with a low roar into an explosion of flame. Each creature in a 20-foot-radius
        sphere centered on that point must make a dexterity saving throw. A target
        takes 8d6 fire damage on a failed save, or half as much damage on a successful
        one.","The fire spreads around corners. It ignites flammable objects in the
        area that aren''t being worn or carried."],"higher_level":["When you cast
        this spell using a spell slot of 4th level or higher, the damage increases
        by 1d6 for each slot level above 3rd."],"range":"150 feet","components":["V","S","M"],"material":"A
        tiny ball of bat guano and sulfur.","ritual":false,"duration":"Instantaneous","concentration":false,"casting_time":"1
        action","level":3,"damage":{"damage_type":{"index":"fire","name":"Fire","url":"/api/damage-types/fire"},"damage_at_slot_level":{"3":"8d6","4":"9d6","5":"10d6","6":"11d6","7":"12d6","8":"13d6","9":"14d6"}},"dc":{"dc_type":{"index":"dex","name":"DEX","url":"/api/ability-scores/dex"},"dc_success":"half"},"area_of_effect":{"type":"sphere","size":20},"school":{"index":"evocation","name":"Evocation","url":"/api/magic-schools/evocation"},"classes":[{"index":"sorcerer","name":"Sorcerer","url":"/api/classes/sorcerer"},{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"}],"subclasses":[{"index":"lore","name":"Lore","url":"/api/subclasses/lore"},{"index":"fiend","name":"Fiend","url":"/api/subclasses/fiend"}],"url":"/api/spells/fireball"}'
  recorded_at: Mon, 06 Nov 2023 01:07:06 GMT
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/cone-of-cold
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699232829'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"577-WZu5/KTNGG0CpamVq6wK+oULn+4"
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/spells/acid-arrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1699232829'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"546-wuxpQUdCv2m+bt7WFrL8Irt8fyo"
    body:
      encoding: UTF-8
      string: '{"index":"acid-arrow","name":"Acid Arrow","desc":["A shimmering green
        arrow streaks toward a target within range and bursts in a spray of acid.
        Make a ranged spell attack against the target. On a hit, the target takes
        4d4 acid damage immediately and 2d4 acid damage at the end of its next turn.
        On a miss, the arrow splashes the target with acid for half as much of the
        initial damage and no damage at the end of its next turn."],"higher_level":["When
        you cast this spell using a spell slot of 3rd level or higher, the damage
        (both initial and later) increases by 1d4 for each slot level above 2nd."],"range":"90
        feet","components":["V","S","M"],"material":"Powdered rhubarb leaf and an
        adder''s stomach.","ritual":false,"duration":"Instantaneous","concentration":false,"casting_time":"1
        action","level":2,"attack_type":"ranged","damage":{"damage_type":{"index":"acid","name":"Acid","url":"/api/damage-types/acid"},"damage_at_slot_level":{"2":"4d4","3":"5d4","4":"6d4","5":"7d4","6":"8d4","7":"9d4","8":"10d4","9":"11d4"}},"school":{"index":"evocation","name":"Evocation","url":"/api/magic-schools/evocation"},"classes":[{"index":"wizard","name":"Wizard","url":"/api/classes/wizard"}],"subclasses":[{"index":"lore","name":"Lore","url":"/api/subclasses/lore"},{"index":"land","name":"Land","url":"/api/subclasses/land"}],"url":"/api/spells/acid-arrow"}'
  recorded_at: Mon, 06 Nov 2023 01:07:07 GMT
recorded_with: VCR 6.2.0
